<div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Email</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <% @subscriptors.each do |subscriptor| %>
                <tr>
                    <td><%= subscriptor.email %></td>
                    <td><%= subscriptor.name %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>